<div *ngIf="!RegisterMode" class="container mt-5">
    <div style="text-align: center;">
    <h1>Find Your Match</h1>
    <p class="lead">Connect with friends and the world around you... Register now !</p>
    <div class ="text-center">
        <button (click)="RegisterToggle()" class="btn btn-success">Register</button>
    </div>
</div>
</div>

<div *ngIf="RegisterMode" class="container">
    <div class="row-justify-content">
        <div class="col-4">
            <app-register (CancelRegister) = "CancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>
